* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #0AF;
}

.login-prompt-message {
  display: flex;
  width: 100vw;
  padding: 20px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.login-holder {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 200px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.login-holder input {
  height: 30px;
  padding: 5px;
}

.login-holder button {
  width: 100px;
  height: 50px;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  background-color: #0F8;
}

.error {
  color: red;
  background-color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
}